@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.header{
	font-family: "Roboto", sans-serif;
	text-decoration: overline black;
	font-size: 4rem;

	color: black;
    
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.7;
   }

   .division{
   	padding: 40px 0;
   }
  