<!DOCTYPE html>
<html>
<title>N-GO</title>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navigation Bar-->
<div class="w3-top">

	<!--white background, text is wide*-->
  <div class="w3-white w3-wide w3-padding w3-card">

  	<!--clicking on n-GO goes back to the home screen-->
  	<!--href adds #home to link to go to the home section, w3-bar-item = horizontal list, w3-button creates a button effect with grayhover effect -->
    <a href="#home" class="w3-bar-item w3-button">N-GO</a>
    <!-- Float links to the right. -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Login</a>
    </div>
  </div>
</div>

</body>
</html>
