@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a, a:hover {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


.header{
	font-family: "Roboto", sans-serif;
	text-decoration: overline black;
	font-size: 4rem;
	color: black;
    
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.7;
   }

   .division{
   	padding: 40px 0;
   }
  